</br>
<div class="container">
  <div class="jumbotron">
    <h1>Blocipedia</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3><%= link_to 'Article 1', root_path %></h3>
      <p>This is a placeholder for a fragment of a wiki article.</p>
      <p>Clicking on the article title will link to the full wiki article.</p>
    </div>
    <div class="col-sm-4">
      <h3><%= link_to 'Article 2', root_path %></h3>
      <p>This is a placeholder for a fragment of a wiki article.</p>
      <p>Clicking on the article title will link to the full wiki article.</p>
    </div>
    <div class="col-sm-4">
      <h3><%= link_to 'Article 3', root_path %></h3>
      <p>This is a placeholder for a fragment of a wiki article.</p>
      <p>Clicking on the article title will link to the full wiki article.</p>
    </div>
  </div>
</div>